.flower-information-box {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
  }
  .flower-image-wrapper{
    flex: 1;
    width: 100%;
  }
  .flower-image-wrapper img{
      width: 100%;
      height: auto;
  }
  .flower-information-content{
    flex: 1;
    }
    .chart-container{
    display: flex;
    flex-direction: row;
    }
    .additional-flower-information{
    flex: 1;
    }
@media screen and (min-width:640px) and (max-width:769px){

}
@media screen and (min-width:770px) and (max-width:1024px){

}